@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
header .nav-top {
  padding: 30px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.355);
}
header .nav-top .nav-top-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
header .nav-top .nav-top-content .social-media ul {
  display: flex;
  gap: 5px;
  margin: 0 auto;
  padding: 0;
}
header .nav-top .nav-top-content .social-media ul li {
  list-style: none;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.451);
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav-top .nav-top-content .nav-inp {
  display: flex;
  align-items: center;
}
header .nav-top .nav-top-content .nav-inp input {
  width: 200px;
  border: 0;
  background: rgba(0, 0, 0, 0.03);
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 20px;
  outline: 0;
}
header .nav-top .nav-top-content .nav-inp button {
  height: 50px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #95adbe;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
header .nav-top .nav-top-content .nav-inp button i {
  color: #fff;
}
header .nav-bottom {
  padding: 15px 0;
}
header .nav-bottom .nav-bottom-content .xxx {
  justify-content: center;
}
header .nav-bottom .nav-bottom-content .xxx .nav-item {
  padding: 0 8px;
}
header .nav-bottom .nav-bottom-content .xxx .nav-item .nav-link {
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-size: 13px;
  font-weight: 500;
  color: black;
  letter-spacing: 1px;
}

#sec-one {
  background: url("/assets/img/bg_1.jpg");
  background-repeat: no-repeat;
  padding: 80px 0;
  background-size: cover;
}
#sec-one .sec-one-content {
  padding: 80px 0;
}
#sec-one .sec-one-content .sec-one-text-content h1 {
  font-size: 60px;
  font-family: "Lora", serif;
  font-weight: 500;
  padding: 30px 0;
}
#sec-one .sec-one-content .sec-one-text-content p {
  font-size: 18px;
  padding-bottom: 30px;
}
#sec-one .sec-one-content .sec-one-text-content button {
  width: 150px;
  height: 56px;
  border: 0;
  font-weight: 500;
}
#sec-one .sec-one-content .sec-one-text-content .btnV {
  background-color: #95adbe;
  color: #fff;
  margin-right: 10px;
}
#sec-one .sec-one-content .sec-one-text-content .btnE {
  background-color: #fff;
  color: #000;
}

#sec-two {
  padding: 60px 0;
}
#sec-two .sec-two-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
#sec-two .sec-two-content .cart {
  width: 255px;
}
#sec-two .sec-two-content .cart .divImg {
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #F5F4F0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 70px;
  margin: 0 auto;
}
#sec-two .sec-two-content .cart .divText {
  text-align: center;
  padding: 15px 0;
}

#sec-three {
  background-color: #F5F4F0;
  padding: 60px 0;
}
#sec-three .sec-three-content .searchDiv {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#sec-three .sec-three-content .searchDiv input {
  width: 200px;
  border: 0;
  background: rgba(0, 0, 0, 0.03);
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 20px;
  outline: 0;
}
#sec-three .sec-three-content .searchDiv button {
  height: 50px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #95adbe;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#sec-three .sec-three-content .searchDiv button i {
  color: #fff;
}
#sec-three .sec-three-content .sortDiv button {
  height: 50px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #95adbe;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#sec-three .sec-three-content .products {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}
#sec-three .sec-three-content .products .cartBox {
  width: 376px;
}
#sec-three .sec-three-content .products .cartBox .divImg {
  text-align: center;
  width: 100%;
}
#sec-three .sec-three-content .products .cartBox .divImg img {
  width: 100%;
}
#sec-three .sec-three-content .products .cartBox .divText button {
  width: 100px;
  height: 36px;
  border: 1px solid rgb(37, 113, 161);
  border-radius: 6px;
  color: #1579c0;
}
#sec-three .sec-three-content .products .cartBox .divText button:hover {
  background-color: #1579c0;
  color: #fff;
}
#sec-three .sec-three-content .products .cartBox .divText button:active {
  background-color: rgba(181, 5, 5, 0.5843137255);
  color: #fff;
  border: 1px solid rgb(182, 0, 0);
}
#sec-three .sec-three-content .loadMore {
  text-align: center;
  margin-top: 40px;
}
#sec-three .sec-three-content .loadMore button {
  background-color: transparent;
  width: 170px;
  height: 45px;
  border-radius: 25px;
  border: 1px solid rgba(183, 21, 21, 0.705);
  font-weight: 600;
}
#sec-three .sec-three-content .loadMore button:hover {
  background-color: rgba(183, 21, 21, 0.705);
  color: #fff;
}
#sec-three .sec-three-content .loadMore button:active {
  background-color: #ff7a5c;
  border: 1px solid #ff7a5c;
}

#sec-four {
  background: url("/assets/img/bg_4.jpg");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  opacity: 0.8;
}
#sec-four .sec-four-content {
  padding: 60px 0;
}
#sec-four .sec-four-content .sec-four-text-content {
  text-align: center;
  color: #fff;
}
#sec-four .sec-four-content .sec-four-text-content h2 {
  font-size: 50px;
}
#sec-four .sec-four-content .sec-four-text-content p {
  font-size: 14px;
}
#sec-four .sec-four-content .carts {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
#sec-four .sec-four-content .carts .cart {
  padding: 20px 0;
  border-radius: 5px;
  width: 350px;
  background-color: #fff;
  padding: 10px;
}
#sec-four .sec-four-content .carts .cart .cart-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}
#sec-four .sec-four-content .carts .cart .cart-bottom img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#sec-five {
  padding: 40px 0;
}
#sec-five .sec-five-content {
  padding: 40px 0;
}
#sec-five .sec-five-content .sec-five-head-text {
  text-align: center;
}
#sec-five .sec-five-content .sec-five-head-text p {
  color: #ff7a5c;
}
#sec-five .sec-five-content .sec-five-head-text h2 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 46px;
  font-family: "Lora", serif;
}
#sec-five .sec-five-content .carts {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
#sec-five .sec-five-content .carts .cart {
  width: 350px;
}
#sec-five .sec-five-content .carts .cart .cartImg {
  width: 100%;
}
#sec-five .sec-five-content .carts .cart .cartImg img {
  width: 100%;
}
#sec-five .sec-five-content .carts .cart .cartText {
  text-align: center;
  padding: 30px 20px;
}
#sec-five .sec-five-content .carts .cart .cartText h5 {
  font-size: 25px;
}

footer {
  padding: 20px 0;
  background-color: #111;
}
footer p {
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.formBox {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.formBox form {
  width: 49%;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  header .nav-top .nav-top-content {
    gap: 30px;
    display: flex;
    justify-content: center;
  }
  #sec-one {
    background-position-x: center;
  }
  #sec-one .sec-one-content {
    padding: 40px 0;
  }
  #sec-one .sec-one-content .sec-one-text-content h1 {
    padding: 15px 0;
  }
  #sec-one .sec-one-content .sec-one-text-content p {
    padding-bottom: 15px;
  }
  #sec-one .sec-one-content .sec-one-text-content .btnV {
    margin-bottom: 20px;
  }
  #sec-two .sec-two-content {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .formBox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }
  .formBox form {
    width: 100%;
  }
}